@font-face {
    font-family: Windsong;
    src: url(Windsong.ttf);
}

img {
    pointer-events: none;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    /* border-right: 1px solid #bbb; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: goldenrod;
}

li:last-child {
    border-right: none;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 100px;
    font-family: "Windsong";
    background-color: goldenrod;
    opacity: 0.5;
}

.info {
    text-align: center;
    margin: auto;
}

.info,
td {
    border: solid #333 5px;
    vertical-align: top;
}

td {
    height: 192px;
    width: 450px;
}

.songButton {
    display: inline-block;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: goldenrod;
    text-align: center;
    transition: all 0.2s;
    margin-left: 5px;
}

.songButton:hover {
    background-color: gold;
}

.container {
    display: flex;
}

#searchStuff {
    display: flex;
    align-items: center;
    align-content: center;
    border-spacing: 0px;
    justify-items: center;
    justify-content: center;
}

#song_search {
    margin-left: 5px;
}

#tech {
    height: 100px;
    padding-right: 50px;
    padding-left: 75px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: goldenrod;
    opacity: 0.5;
}

#logBtn {
    background-color: #333;
    text-align: center;
}

#logBtn:hover {
    background-color: #111;
    color: white;
}

#song_list, #artist_list, #tvShows, #movieReturn, #related_songs {
    list-style-type: none;
    background-color: white;
}